@use '../utils/_variables.scss';

form{
    position: relative;
    display: inline-block;

    & #todo-input{
        box-sizing: border-box;
        padding: 12px 20px;
        width: 100%;
        background: none;
        border: 2px solid variables.$secondary;
        border-radius: 1000px;
        font: inherit;
        color: variables.$text-color;
        caret-color: variables.$accent-color;

        &:focus{
            outline: none;
        }
    }

    & #add-btn{
        position: absolute;
        top: 0;
        right: 0;
        background-color: variables.$accent-color;
        height: 100%;
        padding: 0 30px;
        border: none;
        border-radius: 1000px;
        font: inherit;
        font-weight: 600;
        color: variables.$background;
        cursor: pointer;
    }
}

@media(max-width: 500px){
   form{
    display: flex;
    flex-direction: column;
    gap: 10px;

    & #add-btn{
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }
   }
    
}